
@{
    ViewData["Title"] = "Home Page";
}
<br />
<div class="container">
    <div class="alert alert-danger">
        <h2>You can't make more request because your previous request status is "Open"</h2>
    </div>
</div>
